<head>
    <title>Atom Adventure</title>
    <link rel="stylesheet" href="/Styles/UIStyles.css">
    <link rel="stylesheet" href="/Styles/GameStyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Atom Adventure">
    <meta name="description" property="og:description" content="A 2D shooter game.">
    <meta property="og:image" content="/Images/Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
