<!DOCTYPE html>
<html lang="en">
    <% include Partials/Head %>
    <body>
        <div class="MainContent">
            <div class="FullCentering"></div>
                <div class="Label Subtitle">How should we call you?</div>
                <input type="text" id="UsernameInput" class="InputTextBox" placeholder="Enter your name here..." />
                <button id="StartButton" class="Button">Start Game</button>
            </div>
        </div>
    <% include Partials/Scripts %>
    </body>
</html>