* {
  box-sizing: border-box;
}

:root {
  --soft-violet: #b077e0;
  --dark-violet: #8954b6;
  --disabled-gray: #555;
  color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.MainContent {
  height: 100%;
}

@font-face {
  font-family: 'ZenDots';
  src: url('/Assets/ZenDots-Regular.ttf') format('truetype');
}

.Subtitle {
  font-family: 'ZenDots';
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

body {
  background-color: #111;
  background-image: url('/Assets/StarsBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.InputTextBox {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  padding: 8px 12px;
  outline: none;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Text {
  font-size: 20px;
}

.RightAlign {
  display: block;
  margin-left: auto;
}

.Button {
  background-color: var(--soft-violet);
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.Button:hover {
  background-color: var(--dark-violet);
  animation: 300ms;
}

.Button:disabled {
  background-color: var(--disabled-gray);
    opacity: 0.5;
    cursor: not-allowed;
}

.ActionButton {

}

.InputTextBox::placeholder {
  color: rgba(255, 255, 255, 0.5);
}



.Label {
  font-family: 'ZenDots';
  font-size: 18px;
}

.FullCentering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.UIItem {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 8px 16px;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.UIBar {
  display: flex;
  align-items: center;
}

.EmptySpace {
  flex: 1;
}

.Top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.Bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}